<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Créditos</title>
  <link rel="stylesheet" href="../styles/estilos.css">
  <link rel="stylesheet" href="../styles/creditos.css">
</head>
<body>

  <nav class="navbar-logo">
    <div class="logo-container">
      <a href="index.html" class="logo">Pagina Principal</a>
      <img src="../assets/img/logo.png" alt="Logo" />
    </div>
    <ul class="nav-list-logo">
<li><a href="inicio.html">Inicio</a></li>
<li><a href="filtros.html">Filtros</a></li>
<li><a href="efectos.html">Efectos</a></li>
<li><a href="galeria.html">Galería Animada</a></li>
<li><a href="creditos.html">Créditos</a></li>
    </ul>
  </nav>

  <section class="creditos">
    <h1>Créditos y Agradecimientos</h1>
    <p>Este proyecto fue creado como una galería interactiva de animales. Agradecemos a las siguientes plataformas por las imágenes utilizadas:</p>

    <ul class="fuentes">
      <li><a href="https://www.istockphoto.com/search/2/image?alloweduse=availableforalluses&excludenudity=true&mediatype=photography&phrase=animales&sort=best" target="_blank">iStock Photo – Sección animales</a></li>
      <li><a href="https://unsplash.com/es/s/fotos/animales" target="_blank">Unsplash – Imágenes libres de animales</a></li>
    </ul>

    <p>La inspiración para los filtros y efectos proviene del uso de propiedades avanzadas de CSS como <code>filter</code>, <code>transform</code>, <code>transition</code> y <code>@keyframes</code>.</p>

    <h2>Collage de inspiración</h2>
    <div class="collage">
      <img src="../assets/img/31.png" alt="Ejemplo 1" class="col-filtro filtro1">
      <img src="../assets/img/32.png"Ejemplo 2" class="col-filtro filtro2">
      <img src="../assets/img/33.png" alt="Ejemplo 3" class="col-filtro filtro3">
      <img src="../assets/img/34.png" alt="Ejemplo 4" class="col-filtro filtro4">
    </div>
  </section>

</body>
</html>
