<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Efectos - Galería de Animales</title>
  <link rel="stylesheet" href="../styles/estilos.css">
  <link rel="stylesheet" href="../styles//efectos.css" />
</head>
<body>

  <nav class="navbar-logo">
    <div class="logo-container">
      <a href="index.html" class="logo">Pagina Principal</a>
      <img src="../assets/img/logo.png" alt="Logo" />
    </div>
    <ul class="nav-list-logo">
      <li> <a href="inicio.html">Inicio</a></li>
      <li><a href="filtros.html">Filtros</a></li>
      <li><a href="efectos.html">Efectos</a></li>
      <li><a href="galeria.html">Galería Animada</a></li>
      <li><a href="creditos.html">Créditos</a></li>
    </ul>
  </nav>

  <header class="efectos-header">
    <h1>Efectos con Transiciones y Transformaciones</h1>
    <p>
      En esta sección, se presentan imágenes de animales variados con <strong>efectos visuales interactivos</strong>, como rotaciones, escalas o movimientos que se activan al pasar el cursor.
    </p>
  </header>

  <main>
    <section class="galeria-efectos">
      <div class="efecto efecto1"><img src="../assets/img/15.png" alt="Animal 1"><p>Escala suave</p></div>
      <div class="efecto efecto2"><img src="../assets/img/16.png" alt="Animal 2"><p>Rotación 3D</p></div>
      <div class="efecto efecto3"><img src="../assets/img/17.png" alt="Animal 3"><p>Desplazamiento lateral</p></div>
      <div class="efecto efecto4"><img src="../assets/img/18.png" alt="Animal 4"><p>Pulso animado</p></div>
      <div class="efecto efecto5"><img src="../assets/img/19.png" alt="Animal 5"><p>Zoom + sombra</p></div>
      <div class="efecto efecto6"><img src="../assets/img/20.png" alt="Animal 6"><p>Desenfoque suave</p></div>
      <div class="efecto efecto7"><img src="../assets/img/21.png" alt="Animal 7"><p>Color invertido</p></div>
      <div class="efecto efecto8"><img src="../assets/img/22.png" alt="Animal 8"><p>Saturación + Escala</p></div>
    </section>
  </main>

</body>
</html>
