<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Filtros</title>
<link rel="stylesheet" href="../styles/fil.css">
</head>
<body>

  <nav class="navbar-logo">
    <div class="logo-container">
      <a href="index.html" class="logo">Pagina Principal</a>
      <img src="../assets/img/logo.png" alt="Logo" />
    </div>
    <ul class="nav-list-logo">
      <li> <a href="inicio.html">Inicio</a></li>
      <li><a href="filtros.html">Filtros</a></li>
      <li><a href="efectos.html">Efectos</a></li>
      <li><a href="galeria.html">Galería Animada</a></li>
      <li><a href="creditos.html">Créditos</a></li>
    </ul>
  </nav>

  <!-- Encabezado -->
  <header class="filtros-header">
    <h1>Filtros Creativos de Animales</h1>
    <p>Al pasar el cursor, los filtros se revierten con un efecto suave.</p>
  </header>

  <section class="galeria-filtros">
    <div class="filtro filtro1"><img src="../assets/img/gato.png" alt="Gato"></div>
    <div class="filtro filtro2"><img src="../assets/img/perro.png" alt="Perro"></div>
    <div class="filtro filtro3"><img src="../assets/img/caballo.png" alt="Caballo"></div>
    <div class="filtro filtro4"><img src="../assets/img/capibara.png" alt="Capibara"></div>
    <div class="filtro filtro5"><img src="../assets/img/cebra.png" alt="Cebra"></div>
    <div class="filtro filtro6"><img src="../assets/img/marmota.png" alt="Marmota"></div>
    <div class="filtro filtro7"><img src="../assets/img/tortuga.png" alt="Tortuga"></div>
    <div class="filtro filtro8"><img src="../assets/img/rana.png" alt="Rana"></div>
  </section>

</body>
</html>

