<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Galería Animada</title>
  <link rel="stylesheet" href="../styles/galeria.css" />
  <link rel="stylesheet" href="../styles/estilos.css">
</head>
<body>

  <nav class="navbar-logo">
    <div class="logo-container">
      <a href="index.html" class="logo">Pagina Principal</a>
      <img src="../assets/img/logo.png" alt="Logo" />
    </div>
    <ul class="nav-list-logo">
      <li> <a href="inicio.html">Inicio</a></li>
      <li><a href="filtros.html">Filtros</a></li>
      <li><a href="efectos.html">Efectos</a></li>
      <li><a href="galeria.html">Galería Animada</a></li>
      <li><a href="creditos.html">Créditos</a></li>
    </ul>
  </nav>

  <!-- Encabezado -->
  <header class="galeria-header">
    <h1>Galería Animada</h1>
    <p>Esta sección muestra una galería de imágenes con animaciones suaves al pasar el cursor o al aparecer en pantalla.</p>
  </header>

  <!-- Galería de imágenes -->
  <section class="galeria-animada">
    <div class="imagen anim1"><img src="../assets/img/23.png" alt="Animal A"></div>
    <div class="imagen anim2"><img src="../assets/img/24.png" alt="Animal B"></div>
    <div class="imagen anim3"><img src="../assets/img/25.png" alt="Animal C"></div>
    <div class="imagen anim4"><img src="../assets/img/26.png" alt="Animal D"></div>
    <div class="imagen anim5"><img src="../assets/img/27.png" alt="Animal E"></div>
    <div class="imagen anim6"><img src="../assets/img/28.png" alt="Animal F"></div>
    <div class="imagen anim7"><img src="../assets/img/29.png" alt="Animal G"></div>
    <div class="imagen anim8"><img src="../assets/img/30.png" alt="Animal H"></div>

  </section>

</body>
</html>

