<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Galería Animal - Inicio</title>
  <link rel="stylesheet" href="../styles/estilos.css " />
  <link rel="stylesheet" href="../styles/index.css" />
</head>

<body>
  <!-- Barra de navegación -->
  <nav class="navbar-logo">
    <div class="logo-container">
      <a href="index.html" class="logo">Pagina Principal</a>
      <img src="../assets/img/logo.png" alt="Logo" />
    </div>
    <ul class="nav-list-logo">
      <!-- Enlaces a las vistas -->
      <li><a href="inicio.html">Inicio</a></li>
      <li><a href="filtros.html">Filtros</a></li>
      <li><a href="efectos.html">Efectos</a></li>
      <li><a href="galeria.html">Galería Animada</a></li>
      <li><a href="creditos.html">Créditos</a></li>

    </ul>
  </nav>

  <section class="inicio">
    <div class="contenedor">
      <h1>Bienvenido a la Galería Animal</h1>
      <p>
        Explora una galería interactiva con imágenes de animales y efectos visuales
        impresionantes usando HTML y CSS. Navega por nuestras secciones:
      </p>

  </section>
</body>

</html>